#results {
    margin-top: 5vh;
}

.nav {
    background-color: #dee2e6;
    justify-content: space-between;
}

.results-search {
    display: flex;
}

.card-group {
    justify-content: space-between;
}

.card-group .card {
    margin: 15px 0px;
    max-width: 30%;
    flex: none;
}

#venues img {
    width: 50%;
    margin: 5px auto;
}

@media only screen and (max-width: 768px) {
    .card-group .card {
        max-width: 45%;
    }

    #nav-tab {
        font-size: small;
    }
}

@media only screen and (max-width: 580px) {
    .card-group .card {
        max-width: 100%;
    }
}