body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .left {
    text-align: center;
  }
  
  .right {
    text-align: center;
  }
}